/*	Base css for Ponder	*/


/*Sane defaults*/
html, body { height: 100%; }

#main{ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }


/*Headings and the hero-unit*/
.hero-unit { background-image: url('../img/ponder.jpg'); width: 500px; padding: 30px; height: 130px; margin: 10px auto -10px auto; }
#header .hero-unit h1 { margin-top: -10px; margin-left: -10px; color: 08C; text-decoration: none;}
h1 { color:#000000; text-shadow:0px 1px 0px rgba(255,255,255,0.4); }
h3 { text-align: center; }


/*Miscellaneous utilities*/
.hidden { display: none !important; }

.well .well { background: #FFF; }

.ref { text-decoration: none; font-size: xx-small;  vertical-align: top; }

.truncate { overflow: hidden; text-overflow: ellipsis; height : 100px; }

.thin { margin: 10px 0px; }


/*Conversion of lists into navigation areas*/
ul li { list-style-type: none; }

.nav li { display: inline; text-transform: uppercase; margin: 0 2px; }
.docs li, #navbar li { margin: 0 22px; }

ul { margin-left: 0px; margin-bottom: 0px;}
.nav { text-align: center; margin: 0px auto 12px auto; position: relative; }
#navbar { margin: 24px auto;}

h3, .nav ul li a { 
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .175em;
	margin: 0 2px;
	-webkit-transition: .12s linear;
	   -moz-transition: .12s linear;
		-ms-transition: .12s linear;
		 -o-transition: .12s linear;
			transition: .12s linear;
	}
#home-archives ul li a { 
	display: block;
	text-decoration: none;
	-webkit-transition: .12s linear;
	   -moz-transition: .12s linear;
		-ms-transition: .12s linear;
		 -o-transition: .12s linear;
			transition: .12s linear;
	height: 3em;
	margin-bottom: 2px;
	padding: 2px;
	}
#home-archives ul li a:hover {  background-color: #08C; color: lightgrey; }
#home-archives hr { margin: 10px 0px; background-color: #444; height: 1px;}

a:hover { color: #08C; }

ul li a:target, ul li a:active { color: #000; }


/*Decoration for the main nav-bar*/
#navbar::before { 
	content: ""; position: absolute; left: -105px; top: 10px; height: 1px; width: 180px;
	background: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFF), color-stop(50%,#444), color-stop(100%,#444));
	background: -webkit-linear-gradient(left, #FFF 0%,#444 50%,#444 100%);
	background: -moz-linear-gradient(left, #FFF 0%, #444 50%, #444 100%);
	background: -ms-linear-gradient(left, #FFF 0%,#444 50%,#444 100%);
	background: -o-linear-gradient(left, #FFF 0%,#444 50%,#444 100%);
	background: linear-gradient(left, #FFF 0%,#444 50%,#444 100%);
	}
	
#navbar::after { 
	content: ""; position: absolute; right: -105px; top: 10px; height: 1px; width: 180px;
	background: #000;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#444), color-stop(50%,#444), color-stop(100%,#FFF));
	background: -webkit-linear-gradient(left, #444 0%,#444 50%,#FFF 100%);
	background: -moz-linear-gradient(left, #444 0%, #444 50%, #FFF 100%);
	background: -ms-linear-gradient(left, #444 0%,#444 50%,#FFF 100%);
	background: -o-linear-gradient(left, #444 0%,#444 50%,#FFF 100%);
	background: linear-gradient(left, #444 0%,#444 50%,#FFF 100%);
	}


/*Workspace stylings*/
#searchpane{ width: 300px !important; padding: 19px 17px; text-align: center; position: absolute; top: 0px; bottom:0px; left: 0px; }
#card-list { overflow: hidden; overflow-y: auto;}
#canvas { position: absolute; left: 300px; }

.expand{ background-color: white; overflow: hidden; position: absolute; left: 0; right: 0; overflow-y: auto;  top: 71px; bottom: 0px; }


/*Card stylings*/
.card {
	background-image: url('../img/80grunge.png');
	margin: 3px 0px;
	padding: 5px;
	border: 2px solid black;
	text-align: left;
	width : 246px;
	background-color: lightgray;
	font-family: 'Droid Serif', serif;
}

.card .collapse { font-family: 'Tinos', serif; }

.card hr { margin: 5px 15px; height: 2px; border: 0; }