<script id="template-header" type="text/template">
			<h1>Ponder</h1>
		</script>
		<script id="template-footer" type="text/template">
			<span>&copy; taes1g09</span>
		</script>
		<script id="template-navbar" type="text/template">
			<li id="home"><a>Home</a></li>
			<li id="login">&nbsp;&nbsp;<a>Login</a>&nbsp;&nbsp;</li>
			<li id="profile" class="hidden"><a>Profile</a></li>
			<li id="library"><a>Library</a></li>
			<li id="workspace"><a>Workspace</a></li>
			<li id="gallery"><a>Gallery</a></li>
			<li id="editor"><a>Editor</a></li>
		</script>
		<!-- move this to home.html later -->
		<script id="template-home" type="text/template">
			<div class="row">
			<div id="home-main">
			</div>
			<div id="home-archives">
			</div>
			</div>
		</script>
		<script id="template-home-main" type="text/template">
			<h2>Intro to ponder</h2>
			Ponder is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<h4>Latest News:</h4>
			<ul class="news-list"></ul>
		</script>
		<script id="template-home-archives" type="text/template">
			<div class="well"><h3>Archives</h3><ul class="news-list">
			</ul></div>
		</script>
		<script id="template-home-newsItemCompactView" type="text/template">
			<span class="pull-right"><%= timestring %></span><strong><%= title %></strong>
			<div class="truncate"><%= text %></div>
			<span class="pull-right"><a href="#">read more -&gt;</a></span><span><%= comments.length %> comments.</span>
		</script>
		<script id="template-home-newsItemTinyView" type="text/template">
		<strong><%= title %></strong><span class="pull-right">( <%= comments.length %> comments)</span>
		</script>
		<!-- move this to library.html later -->
		<script id="template-library" type="text/template">
			<h3>Library for ponder</h3>
			Cards (15):
			<ul id="card-list"></ul>
		</script>
		<script id="template-library-search" type="text/template">
			<h3>Search for ponder</h3>
			<form class="form-search">
				<div class="input-append">
					<input type="text" id="input" autofocus>
					<button type="button" id="search" class="btn" >Go!</button>
				</div>
			</form>
			<ul id="card-list" class="collapse"></ul>
		</script>
		<script id="template-library-cardItemView" type="text/template">
			<span id="cost" class="pull-right"><% print(cost? cost : '-') %></span>
			<span id="name"><%= name %></span>
			<div class="collapse card<%= id %>">
				<hr>
				<% (pt)? print('<div class="pull-right">' + pt + "</div>"): '' %>
				<div id="types"><% print(types.join(' '))%></div>
				<% (rules)? print('<div>' + rules + "</div>"): '' %>
			</div>
		</script>
		<script id="template-library-loading" type="text/template">Loading cards...</script>

		<!-- move this to workspace.html later -->
		<script id="template-workspace" type="text/template">
			<div class="span4 well" id="searchpane"><div class=nav><ul><li id="searchTab"><a>Search</a></li>|<li id="sideboardTab"><a>Sideboard</a></li>|<li id="statsTab"><a>Stats</a></li></ul>
			</div><div id="sidebar"></div></div>
			<div id="canvas" class="span8"></div>
		</script>
		<script id="template-workspace-search" type="text/template">
			<form class="form-search">
				<div class="input-append">
					<input type="text" id="input" value="queen" autofocus>
					<button type="button" id="search" class="btn" >Go!</button>
				</div>
			</form>
			<ul id="card-list" class="collapse"></ul>
		</script>
		<script id="template-workspace-canvas" type="text/template">
			<button type="button" id="save" class="btn pull-right">Save</button>
			<div id="deckName"><a href="#" id="viewName"><h3><%= name %></h3></a><input type="text" id="editName" class="hidden" value="<%= name %>"></div>
			<ul id="card-area"></ul>
		</script>
		<script id="template-workspace-cardItemView" type="text/template">
			<span id="cost" class="pull-right"><%= cost? mana : '-' %></span>
			<span id="name"><%= name %></span>
			<div class="collapse card<%= id %>">
				<hr>
				<% (pt)? print('<div class="pull-right"><strong>' + pt + "</strong></div>"): '' %>
				<div id="types"><% print(types.join(' '))%></div>
				<% (rules)? print('<div>' + rules + "</div>"): '' %>
			</div>
		</script>
		<script id="template-workspace-loading" type="text/template">Loading cards...</script>

