<script id="template-docs-user" type="text/template">
			<h1>Ponder User Guide</h1>

		<div class="well">
			<h2>The Home Page</h2>
			<p>The home page displays basic information about Ponder, as well as links through the news archives. The lates news is displayed at the bottom of the page, and any news item may be clicked on to display it in full, along with any comments that may have been left on it. Logged in users may leave additional comments.
			</p></div>

		<div class="well">
			<h2>The Workspace</h2>
			<p>The workspace is the heart of what Ponder is about. It allows search through all of the cards in the database, each of which is accurately represented with respect to it's gameplay information. Carcs can be collected into decks, which may be saved to the database.
			</p></div>

		<div class="well">
			<h2>Screenshots</h2>
			<p>

<img src="img/screenshots/comments.png" />
<img src="img/screenshots/deck _rename.png" />
<img src="img/screenshots/empty_deck.png" />
<img src="img/screenshots/fblogin.png" />
<img src="img/screenshots/homepage.png" />
<img src="img/screenshots/homepage_hilight.png" />
<img src="img/screenshots/no_comments.png" />
<img src="img/screenshots/not_logged_in.png" />
<img src="img/screenshots/test_deck.png" />
			</p></div>
		
		
		
		</script>
