<script id="template-docs" type="text/template">
			<div class="nav">
			<ul>
				<li id="brief"><a href="#">Brief</a></li>
				<li id="user"><a href="#">User</a></li>
				<li id="technical"><a href="#">Technical</a></li>
			</ul>
			<hr class="span10 offset1" style="margin-left : 80px"></div>
			</div>
			<div id="doc" class="row"></div>
		</script>
		<script id="template-docs-choose" type="text/template">
			<div class="span6 offset2">Three documents relating to Ponder are available: the original brief, a user manual, and the technical manual. Choose one from the list above.</div>
		</script>